
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans JP', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333131;
    overflow-x: hidden;
}


.hero {
   background: linear-gradient(to right, #f53817, #720303);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.text-left h1 {
    font-family: 'Irish Grover', cursive;
    font-size: clamp(2rem, 5vw, 10rem);
    margin-bottom: 1rem;
    line-height: 1.1;
    color: white;
}

.text-left p {
    
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-family: 'Irish Grover', cursive;
    color: white;
}

.burger-img {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 1rem 0;
}

.oignon-left,
.oignon-right {
    width: 100px;
    position: absolute;
    top: 20%;
}

.oignon-left {
    left: 0;
}

.oignon-right {
    right: 0;
    bottom: 3;
    transform: rotate(17deg);
    transform: scaleX(-1);
}


.main {
    background-color: rgb(214, 104, 0);
    padding: 2rem;
    text-align: center;
}

.subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    letter-spacing: 5%;
    margin-bottom: 1rem;
    font-family: 'Irish Grover', cursive;
    color: white;
}

.location-title {
    font-size: clamp(1.5rem, 3vw, 6.5rem);
    margin: 1rem 0;
    font-family: 'Irish Grover', cursive;
    color: white;
}


iframe {
    width: 100%;
    max-width: 600px;
    height: auto;
    aspect-ratio: 4 / 3;
    border: 0;
    margin-top: 1rem;
}


.logo.reseaux {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.logo.reseaux img {
    height: 50px;
    object-fit: contain;
}


.footer {
    background-color: #fce1af;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer .column {
    margin: 1rem 0;
    color: #0a0a0a;s
    
}

.footer h1 {
    font-family: 'Irish Grover', cursive;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.footer p {
 font-family: 'Irish Grover', cursive;
  font-size: clamp(1.5rem, 4vw, 3rem);
}